/* src/components/HomePage.css */

.homepage {
    height: 100vh;
  }
  
  .background {
    background-image: url('./homepage_bg.jpeg'); 
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .buttons {
    display: flex;
    gap: 20px;
  }
  
  .category-button {
    padding: 20px 40px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .category-button:hover {
    background-color: rgba(255, 255, 255, 1);
  }
  